@mixin btnCss {
  @extend .wCenter;
  background-color: $btnColor;
  border: none;
  padding: 13px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 150px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
@mixin aCss {
  color: white;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}
body {
  margin: 0;
  background-color: $bgColor;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wCenter {
  color: white;
  text-align: center;
}
.header {
  background: $bgimg no-repeat center;
  background-size: cover;
  border-bottom-right-radius: 40%;
  height: 623px;
}
.header-wrap {
  width: 1000px;
  margin-left: 170px;
  padding-top: 15px;
  .landing-logo {
    color: $txtColor;
  }
}
.landing-logo {
  display: flex;
  font-weight: bold;
  font-family: $fontFamily;
  p {
    margin: 5px 15px;
    font-size: 25px;
    line-height: 20px;

    span {
      display: block;
      font-size: 10px;
      text-align: center;
    }
  }
  img {
    width: 45px;
    height: 45px;
  }
}
.header_heading {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  width: 480px;
  color: $txtColor;
  font-size: 70px;
  line-height: 75px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
  z-index: 0;
  &::before {
    content: "";
    border: 24px solid $txtborder;
    position: absolute;
    border-right-width: 268px;
    top: 94px;
    z-index: -1;
  }
}
.header_text {
  font-family: $fontFamily;
  color: $txtColor;
  line-height: 25px;
  font-size: 15px;
  white-space: pre-line;
  margin-bottom: 60px;
}
button {
  @include btnCss;
}
.login {
  @include aCss;
}
.section_text {
  position: relative;
  font-family: $fontFamily;
  color: $txtColor;
  text-align: center;
  font-size: 35px;
  z-index: 0;
  &::before {
    content: "";
    border: 21px solid $txtborder;
    position: absolute;
    border-right-width: 133px;
    left: 191px;
    bottom: 7px;
    z-index: -1;
  }
}

.section_card {
  display: flex;
  background: $cardBg;
  border-radius: 4px;
  height: 285px;
  width: 964px;
  margin-bottom: 20px;
  .section_card_img {
    width: 410px;
    margin: 12px;
    border-radius: 4px;
  }
}
.section_card_heading {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.section_card_right_container {
  display: flex;
  font-family: $fontFamily;
  flex-direction: column;
  padding: 30px 80px 30px 80px;
  width: 470px;
  color: rgb(202, 202, 202);
  line-height: 25px;
  text-align: justify;
  font-size: 15px;

  .section_card_heading {
    font-size: 20px;
    font-weight: bold;
  }

  a {
    @extend .wCenter;
  }
}

.section_banner {
  display: flex;
  position: absolute;
  border-radius: 4px;
  background: linear-gradient(to right, $bColor_1, $bColor_2);
  width: 62%;
  height: 130px;
  bottom: -915px;
  left: 19%;
  align-items: center;
  justify-content: space-between;
}
.section_banner_heading {
  position: relative;
  color: $txtColor;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 0;
  &::before {
    content: "";
    border: 21px solid $txtborder;
    position: absolute;
    border-right-width: 46px;
    left: 119px;
    bottom: 7px;
    z-index: -1;
  }
}

.section_banner_text_wrap {
  margin-left: 150px;
}

.section_banner_text {
  color: rgb(200, 200, 200);
  font-family: $fontFamily;
}

footer {
  margin-top: 200px;
  background-color: $cardBg;
  color: #c0c3ce;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 190px 40px 190px;
  font-family: $fontFamily;
}

.footer_text {
  width: 300px;
  font-size: 14px;
  line-height: 20px;
  font-family: $fontFamily;
}
.footer-cr {
  font-family: $fontFamily;
}
