$bgimg: url(../img/m-h-day.jpg);
$bgColor: white;
$txtborder: #14a0c7;
$txtColor: #2c2f3c;
$btnColor: #699900;
$fontFamily: 'Hind', sans-serif;
$fontColor: #21232e;
$bColor_1: #699803;
$bColor_2: #2c5add;
$cardBg: #21232e;