$bgimg: url(../img/m-h-night.jpg);
$bgColor: #21232e;
$txtborder: #ff4e33;
$txtColor: white;
$btnColor: #e3ac00;
$fontFamily: 'Fresca', sans-serif;
$bColor_1: #e1aa01;
$bColor_2: #922c52;
$cardBg: #3b3f50;